@media screen and ( max-width: 1250px )
  html
    font-size: 12px
  .menu__logo
    max-width: 4rem
  .nav
    &__item
      margin-right: 1.5rem

@media screen and ( max-width: 992px )
  html
    .contacts
      &__button
        display: none
      &__phone
        margin-right: 1rem
    .nav
      &__item
        margin-right: 2rem
@media screen and ( max-width: 768px )
  html
    .hero
      padding-top: 5rem
      &::after
        display: none
      &__scroll-down
        display: none
      &__instagram
        display: none
    .contacts
      &__phone
        margin-right: 0
        text-decoration: none
        color: white
  .nav
    &__item
      display: none
  .menu__logo
    max-width: 100%
  .col-50
    width: 100%
  .swiper
    &-slide
      &--img
        margin-top: 35px!important

@media screen and ( max-width: 576px )
  html
    .hero
      &__content
        padding-left: 0
      &__main
        top: 10%
        left: 10%
        right: 10%
      &__text
        font-size: 1.29rem
        max-width: 300px
      &__button
        display: block
        width: 100%
        max-width: 300px
        margin-bottom: 1.85rem
        margin-right: 0px

    .tittle
      font-size: 1.64rem
// header and hero

@media screen and ( max-width: 768px  )
  .row
    flex-direction: column
    align-items: center
    .types
      &__card
        margin-bottom: 5rem
    .card
      &__text
        margin-left: 0
      &__pricetag
        font-size: 1rem

// types
