@media screen and ( max-width: 1250px )
  html
    font-size: 12px
  .menu__logo
    max-width: 4rem
  .nav
    &__item
      margin-right: 1.5rem

@media screen and ( max-width: 992px )
  html
    .contacts
      &__button
        display: none
      &__phone
        margin-right: 1rem
    .nav
      &__item
        margin-right: 1rem
@media screen and ( max-width: 768px )
  html
    .hero
      padding-top: 60px
      &__scroll-down
        display: none
      &__instagram
        display: none
    .contacts
      &__phone
        margin-right: 0
        text-decoration: none
        color: white
  .nav
    &__item
      display: none
  .menu__logo
    max-width: 100%
@media screen and ( max-width: 576px )
  html
    .hero
      &
