.footer
  background: $grey url('../img/footer-bg.jpg') no-repeat bottom / cover
  &-wrap
    background: $black url('../img/bg-lines.svg') no-repeat bottom / cover
    max-width: 63.07rem
    margin: auto
    padding: 2.5rem
  &__tittle
    margin-top: 0
    text-transform: uppercase
    font-family: 'Yeseva One', sans-serif
    font-weight: normal
    font-size: 1.428rem
    text-align: center
    margin-bottom: 3.214rem
  &__form
    display: flex
    flex-wrap: wrap
    max-width: 37.142rem
    justify-content: space-between
    margin: auto
  &__input-group
    display: flex
    flex-direction: column
    flex-basis: 45%
    margin-bottom: 3.5rem
    &--full
      flex-basis: 100%
  &__policy
    flex-basis: 100%
  &__button
    margin: auto
    margin-top: 3.5rem
    padding: 1.285rem 4.785rem
  &__menu
    background-color: $black
    padding: 4.285rem 0
